/*Commentaires*/

html * {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #fffffa;

}

.ensemble {
  border-left: 20px solid #333333;
  border-right: 20px solid #333333;
  min-height: 100vh;
  z-index: 1000;
}

.txt-en {
  display: none;
}

body.english .txt-en {
  display: block;
}

body.english .txt-fr {
  display: none;
}

/***********INDEX*****************/

.Header {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.logo {
  height: 50px;
  margin-top: 20px;
  position: fixed;
  left: 5%;
  margin-left: 20px;
  z-index: 1000;
}

.logo_index {
  height: 50px;
  margin-top: 20px;
  left: 5%;
  margin-left: 20px;
z-index: 1000;
}

.Menu {
  font-family: 'Alegreya Sans', sans-serif;
  height: 50px;

  font-size: 14px;
  position: fixed;
  right: 5%;
  font-weight: 700;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  z-index: 1000;

}



.Menu_index {
  font-family: 'Alegreya Sans', sans-serif;
  height: 50px;

  font-size: 14px;
  right: 5%;
  font-weight: 700;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  z-index: 1000;

}


.lang_selector {
  margin-left: 16px;
  font-weight: 400;
}

.lang-en {
  margin-left: auto;
  font-weight: 400;
  cursor: pointer;
}

.lang-fr {
  margin-left: auto;
  font-weight: 400;
  cursor: pointer;
}

.Projets_groupe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
}

.Projets_groupe_colonne {
  flex: 1 0 25%;
}

.Projets_groupe_colonne .Projet_titre {
  position: absolute;
  top:20px;
  left:20px;
  right:20px;
  bottom:25px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  pointer-events: none;
  transition: .5s;
  padding:10px;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.Projet {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;

}

.Projet:hover .Projet_titre {
  opacity: 1;
  padding:20px;

}

.Projet_titre {

}

.Projet_vignette {
  max-width: 100%;
  height: auto;
}

.Footer {}

a {
  color: black;
  text-decoration: none;
}

/**********PAGES PROJETS******************/



.bloc_texte_projets {
  width: 30%;
  max-width: 400px;
  margin: 10px;
  position: fixed;
  top: 80px;
  right: 80px;


}

.bloc_texte_projets .bouton {
  display: block;
  position: fixed;
  top: 80px;
  left: 90%;
  margin: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.bloc_texte_projets .bouton::after {
  display: block;
  content: "+";
  font-size: 30px;
  font-family: helvetica, sans-serif;
}

.bloc_texte_projets.ouvert .bouton::after {
  display: block;
  content: "-";
  font-size: 40px;
  font-family: helvetica, sans-serif;

}

.bloc_texte_projets .contenu {
  display: none;
}

.bloc_texte_projets.ouvert .contenu {
  display: block;
  padding: 26px;
}

.titre_page_projet {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}

.titre_page_projet .bouton {
  position: absolute;
  right: 16px;
  top: 0;
  cursor: pointer;
}

.texte_projet_fr {
  font-family: 'Alegreya', serif;
  font-size: 15px;
  font-weight: 400;
}

.texte_projet_en {
  font-family: 'Alegreya', serif;
  font-size: 15px;
  font-weight: 400;
}

.separateur_projets {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.images_projets {
  margin: auto;
  max-width: 750px;
}

.images_projets.etroit {
  margin: auto;
  max-width: 750px;
  padding-right: 24%;
}


.images_projets img {
  max-width: 95%;
  margin: 10px;
}

/**********CONTACT******************/

.Contact_texte {
  display: block;
  max-width: 30%;
  background-color: aliceblue;
  padding: 10px;
  margin: auto;
  margin-top: 5%;
}

.Titre_contact {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.Infos_fr {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alegreya', serif;
  font-size: 16px;
  font-weight: 400;
}

.Infos_en {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alegreya', serif;
  font-size: 16px;
  font-weight: 400;
}

.Contact_fr {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.Contact_en {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.separateur_contact {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 14px;
}


/*****************SMARTPHONE**********************/


@media screen and (max-width: 1100px) {


    .images_projets.etroit {
      padding-right: 32%;
    }

}
@media screen and (max-width: 1000px) {
  .Projets_groupe_colonne {
    flex: 0 0 33%;
  }
  .Projets_groupe_colonne .Projet_titre {
    font-size:12px ;
  }

    .Contact_texte {
      max-width: 50%;
    }

    .images_projets.etroit {
      padding-right: 37%;
    }

}

@media screen and (max-width: 900px) {


    .images_projets.etroit {
      padding-right: 42%;
    }
  }

@media screen and (max-width: 700px)  {
  .Projets_groupe_colonne {
    flex: 0 0 50%;
  }
  .Projets_groupe_colonne .Projet_titre {
    font-size:12px ;
}
.Contact_texte {
  max-width: 60%;
}

.bloc_texte_projets .bouton {
    display: none;

}
.bloc_texte_projets .contenu {
    display: block;
    padding: 26px;
}

.bloc_texte_projets {
    width: 85%;
    margin: auto;
    max-width: 100%;
    position: relative;
    right: 0;
    top:20px;
  }

  .images_projets {
    max-width: 100%;
}

.images_projets.etroit {
  padding-right: 0%;
}
.images_projets img {
    max-width: 95%;
    margin: 10px;
  margin-top: 42px;}

  .logo {
      position: relative;
    }

    .Menu{
      position: relative;

    }
  }

@media screen and (max-width: 650px) {
  .Projets_groupe_colonne {
    flex: 0 0 50%;
  }
  .Projets_groupe_colonne .Projet_titre {
    font-size:12px ;
  }

    .Contact_texte {
      max-width: 70%;
    }


}

@media screen and (max-width: 400px) {
  .Projets_groupe_colonne {
    flex: 0 0 100%;
  }
  .Projets_groupe_colonne .Projet_titre {
    font-size:18px ;
}
.Contact_texte {
  max-width: 90%;
}
.Header {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Menu_index {
  margin-left: 20px;
  margin-top: 5px;
}
.Menu{
  margin-left: 30px;
  margin-top: 5px;
}
}

@media screen and (max-width: 300px) {
  .Projets_groupe_colonne {
    flex: 0 0 100%;
  }
  .Projets_groupe_colonne .Projet_titre {
    font-size:18px ;
}

.Contact_texte {
  max-width: 90%;
}

}


@media screen and (min-width: 1500px) {



  .Projets_groupe_colonne .Projet_titre {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 25px;
    right: 20px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    pointer-events: none;
    padding: 10px;
    transition: .5s;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }




  .Projet_vignette {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 2000px) {

  .Header {
    height: 250px;
  }

  .logo {
    height: 130px;
    margin-top: 50px;
  }

  .logo_index {
    height: 130px;
    margin-top: 50px;
  }

  .Menu {
    height: 130px;
    font-size: 40px;
    margin-top: 50px;

  }



  .Menu_index {
    height: 130px;
    font-size: 40px;
    margin-top: 50px;
  }




  .Projets_groupe_colonne .Projet_titre {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 25px;
    right: 20px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    pointer-events: none;
    padding: 10px;
    transition: .5s;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Projet {
    padding: 20px;

  }



}
