/*Commentaires*/
html * {
  box-sizing: border-box;
    }

body{
max-width: 75%;
margin:auto;
}

/***********INDEX*****************/

.Header {
margin-top: 50px;
  margin-bottom: 50px;
}

.logo{
  position: relative; right:8%;
height: 75px;
}

.Menu{
position : absolute; top:75px; right:8%;
font-family: 'Alegreya Sans', sans-serif;
font-size: 18px;
font-weight: 700;
}


.Projets_groupe{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.Projets_groupe_colonne {
  flex : 0 0 30%;
}

.Projet{
  padding: 10px;
}

.Projet_titre{
}

.Projet_vignette {
  max-width: 100%;
  height:auto;
}

.Footer{

}

/**********PAGES PROJETS******************/

.images_projets{
  margin:auto;
  box-sizing: 30%;
}

.bloc_texte_projets{
  max-width: 20%;
  margin:10px;
  background: white;
  position: fixed;top:150px; right:30px;


}

.titre_page_projet{
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
font-weight: 800;

}

.texte_projet_fr{
  font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;
font-weight: 500;
}

.texte_projet_en{

  font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight:400;


}


.separateur_projets
{

  font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;

}




/**********CONTACT******************/

.Titre_contact
{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
font-weight: 800;


}
.Infos_fr{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;
font-weight: 500;
}
.Infos_en
{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight:400;
}
.Contact
{max-width: 60%;
margin:auto;
font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;


}

.separateur_contact
{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
}
