/*Commentaires*/
html * {
  box-sizing: border-box;
    }

body {
  margin:auto;
}

.txt-en {
  display: none;
}

body.english .txt-en {
  display:block;
}
body.english .txt-fr {
  display:none;
}
/***********INDEX*****************/

.Header {
  max-width: 75%;
margin: 50px auto;
display: flex;
}

.logo{
height: 75px;
}

.Menu{
font-family: 'Alegreya Sans', sans-serif;
font-size: 18px;
font-weight: 700;
margin-left: auto;
    display: flex;
    align-items: center;
}
.lang_selector {
  margin-left: 16px;
}
.lang-en{
  margin-left: auto;

  cursor: pointer;

}

.lang-fr{
  margin-left: auto;

  cursor: pointer;

}


.Projets_groupe{
display: flex;
justify-content: center;
flex-wrap: wrap;
max-width: 90%;
margin: auto;
}

.Projets_groupe_colonne {
  flex : 0 0 25%;
}

.Projets_groupe_colonne .Projet_titre {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  color:white;
  text-align:center;
  pointer-events: none;
  padding: 16px;
  transition: .5s;
  margin:0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Projet {
  padding: 20px;
  position: relative;
}

.Projet:hover .Projet_titre {
  opacity:1;
}

.Projet_titre{
}

.Projet_vignette {
  max-width: 100%;
  height:auto;
}

.Footer{

}

a {
  color: black;
  text-decoration: none;
}
/**********PAGES PROJETS******************/

.bloc_texte_projets{
  width: 25%;
  max-width: 300px;
  margin:10px;
  background: white;
  position: fixed;top:150px; right:30px;
  padding:16px;
}

.bloc_texte_projets .bouton {
  display: block;
}

.bloc_texte_projets .bouton::after {
  display: block;
  content: "+";
}

.bloc_texte_projets.ouvert .bouton::after {
  display: block;
  content: "-";
}

.bloc_texte_projets .contenu {
  display: none;
}

.bloc_texte_projets.ouvert .contenu {
  display: block;
}

.titre_page_projet{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.titre_page_projet .bouton {
  position: absolute;
  right: 16px;
  top: 0;
  cursor: pointer;
}

.texte_projet_fr{
  font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;
font-weight: 500;
}

.texte_projet_en{

  font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight:400;


}


.separateur_projets
{

  font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;

}


.images_projets{
  margin:auto;
  max-width: 850px;
}

.images_projets img {
  max-width: 100%;
}

/**********CONTACT******************/

.Titre_contact
{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
font-weight: 800;


}
.Infos_fr{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;
font-weight: 500;
}
.Infos_en
{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight:400;
}

.Contact_fr
{max-width: 60%;
margin:auto;
font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.Contact_en
{
  max-width: 60%;
margin:auto;
font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;


}

.separateur_contact
{
  max-width: 60%;
  margin:auto;
  font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
}
